@import url("https://raw.githubusercontent.com/Niclassslua/HorizontalServerList/master/BetterDiscordAddons/Themes/HorizontalServerList.css");

:root {
  --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
  --HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
}
